<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>
</head>

<body>
    <h1 class="bg-info text-white p-3 m-0"> The Solar System </h1>
    <%- include("partials/nav.ejs") %>

    <div class="container my-page">
        <div class="card page-card">
            <h2>This is Our Solar System!</h2>
            <img src="<%= randomImage %>" alt="Random Solar System Image" class="img-fluid">
        </div>
    </div>

    <%- include("partials/footer.ejs") %>
</body>

</html>