<!DOCTYPE html>
<html lang="en">
<head>
 <%- include("partials/head.ejs") %>
</head>
<body>
    <h1 class="bg-info text-white p-3 m-0">The Solar System</h1>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <%- include("partials/nav.ejs") %>
    </nav>
    
    <h2>NASA: PICTURE OF THE DAY</h2>
    <img src="<%= nasaPOD %>" alt="NASA Picture of the Day" class="img-fluid">

    <footer>    
    </footer>

</body>
</html>